In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:

import os
import numpy as np
import pandas as pd
from matplotlib import pyplot
from scipy import optimize
%matplotlib inline

In [ ]:
#Lectura de archivo con pandas
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/machine learning/datasets/train.csv')

<ipython-input-3-e415a641d4a3>:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/machine learning/datasets/train.csv')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB
None

In [ ]:
#revisar datos faltantes
print(df.isnull().sum())  # Sumar los valores nulos por columna

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [ ]:
#Eliminando flas con valores nulos
df = df.dropna()

In [ ]:
#nuevo tamaño del dataset
print(df.shape)

(53049, 28)

In [ ]:
#Eliminar columnas xon valores nulos
df = df.dropna(axis=1)  # Elimina las columnas con algún valor nulo

In [ ]:
#nuevo tamaño del dataset
print(df.shape)

(53049, 28)

In [ ]:
#Eliminar columnas con datos que no son relevantes para la regresion
df = df.drop(['ID', 'Customer_ID', 'Month', 'Name','SSN','Occupation', 'Type_of_Loan','Credit_Mix','Credit_History_Age','Payment_of_Min_Amount','Payment_Behaviour','Num_of_Delayed_Payment' ], axis=1)

In [ ]:
print(df.shape)
print(df.head())

(53049, 16)
    Age Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0    23      19114.12            1824.843333                  3
6    23      19114.12            1824.843333                  3
8   28_      34847.84            3037.986667                  2
9    28      34847.84            3037.986667                  2
10   28     34847.84_            3037.986667                  2

    Num_Credit_Card  Interest_Rate Num_of_Loan  Delay_from_due_date  \
0                 4              3           4                    3
6                 4              3           4                    3
8                 4              6           1                    3
9                 4              6           1                    7
10             1385              6           1                    3

   Changed_Credit_Limit  Num_Credit_Inquiries Outstanding_Debt  \
0                 11.27                   4.0           809.98
6                 11.27                   4.0           809.98
8                  5.42                   2.0           605.03
9                  7.42                   2.0           605.03
10                 5.42                   2.0           605.03

    Credit_Utilization_Ratio  Total_EMI_per_month Amount_invested_monthly  \
0                  26.822620            49.574949       80.41529543900253
6                  22.537593            49.574949       178.3440674122349
8                  24.464031            18.816215        104.291825168246
9                  38.550848            18.816215       40.39123782853101
10                 33.224951            18.816215       58.51597569589465

       Monthly_Balance Credit_Score
0   312.49408867943663         Good
6    244.5653167062043         Good
8   470.69062692529184     Standard
9    484.5912142650067         Good
10  466.46647639764313     Standard

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 53049 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       53049 non-null  object
 1   Annual_Income             53049 non-null  object
 2   Monthly_Inhand_Salary     53049 non-null  float64
 3   Num_Bank_Accounts         53049 non-null  int64
 4   Num_Credit_Card           53049 non-null  int64
 5   Interest_Rate             53049 non-null  int64
 6   Num_of_Loan               53049 non-null  object
 7   Delay_from_due_date       53049 non-null  int64
 8   Changed_Credit_Limit      53049 non-null  object
 9   Num_Credit_Inquiries      53049 non-null  float64
 10  Outstanding_Debt          53049 non-null  object
 11  Credit_Utilization_Ratio  53049 non-null  float64
 12  Total_EMI_per_month       53049 non-null  float64
 13  Amount_invested_monthly   53049 non-null  object
 14  Monthly_Balance           53049 non-null  object
 15  Credit_Score              53049 non-null  object
dtypes: float64(4), int64(4), object(8)
memory usage: 6.9+ MB
None

In [ ]:
# Limpiar los guiones bajos en todas las columnas de tipo 'object'
df_cleaned = df.applymap(lambda x: x.replace('_', '') if isinstance(x, str) else x)

print("Dataset después de limpiar los guiones bajos:")
print(df_cleaned)

<ipython-input-13-a17825477eaa>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df.applymap(lambda x: x.replace('_', '') if isinstance(x, str) else x)

Dataset después de limpiar los guiones bajos:
      Age Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0      23      19114.12            1824.843333                  3
6      23      19114.12            1824.843333                  3
8      28      34847.84            3037.986667                  2
9      28      34847.84            3037.986667                  2
10     28      34847.84            3037.986667                  2
...    ..           ...                    ...                ...
99994  25      39628.99            3359.415833                  4
99995  25      39628.99            3359.415833                  4
99996  25      39628.99            3359.415833                  4
99997  25      39628.99            3359.415833                  4
99999  25      39628.99            3359.415833                  4

       Num_Credit_Card  Interest_Rate Num_of_Loan  Delay_from_due_date  \
0                    4              3           4                    3
6                    4              3           4                    3
8                    4              6           1                    3
9                    4              6           1                    7
10                1385              6           1                    3
...                ...            ...         ...                  ...
99994                6              7           2                   20
99995                6              7           2                   23
99996                6              7           2                   18
99997                6           5729           2                   27
99999                6              7           2                   18

      Changed_Credit_Limit  Num_Credit_Inquiries Outstanding_Debt  \
0                    11.27                   4.0           809.98
6                    11.27                   4.0           809.98
8                     5.42                   2.0           605.03
9                     7.42                   2.0           605.03
10                    5.42                   2.0           605.03
...                    ...                   ...              ...
99994                  9.5                   3.0           502.38
99995                 11.5                   3.0           502.38
99996                 11.5                   3.0           502.38
99997                 11.5                   3.0           502.38
99999                 11.5                   3.0           502.38

       Credit_Utilization_Ratio  Total_EMI_per_month Amount_invested_monthly  \
0                     26.822620            49.574949       80.41529543900253
6                     22.537593            49.574949       178.3440674122349
8                     24.464031            18.816215        104.291825168246
9                     38.550848            18.816215       40.39123782853101
10                    33.224951            18.816215       58.51597569589465
...                         ...                  ...                     ...
99994                 39.323569            35.104023      140.58140274528395
99995                 34.663572            35.104023       60.97133255718485
99996                 40.565631            35.104023       54.18595028760385
99997                 41.255522            35.104023       24.02847744864441
99999                 34.192463            35.104023       167.1638651610451

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
6       244.5653167062043         Good
8      470.69062692529184     Standard
9       484.5912142650067         Good
10     466.46647639764313     Standard
...                   ...          ...
99994          410.256158         Poor
99995          479.866228         Poor
99996           496.65161         Poor
99997          516.809083         Poor
99999          393.673696         Poor

[53049 rows x 16 columns]

In [ ]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53049 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       53049 non-null  object
 1   Annual_Income             53049 non-null  object
 2   Monthly_Inhand_Salary     53049 non-null  float64
 3   Num_Bank_Accounts         53049 non-null  int64
 4   Num_Credit_Card           53049 non-null  int64
 5   Interest_Rate             53049 non-null  int64
 6   Num_of_Loan               53049 non-null  object
 7   Delay_from_due_date       53049 non-null  int64
 8   Changed_Credit_Limit      53049 non-null  object
 9   Num_Credit_Inquiries      53049 non-null  float64
 10  Outstanding_Debt          53049 non-null  object
 11  Credit_Utilization_Ratio  53049 non-null  float64
 12  Total_EMI_per_month       53049 non-null  float64
 13  Amount_invested_monthly   53049 non-null  object
 14  Monthly_Balance           53049 non-null  object
 15  Credit_Score              53049 non-null  object
dtypes: float64(4), int64(4), object(8)
memory usage: 6.9+ MB

In [ ]:
df_cleaned.head()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score
0,23,19114.12,1824.843333,3,4,3,4,3,11.27,4.0,809.98,26.822620,49.574949,80.41529543900253,312.49408867943663,Good
6,23,19114.12,1824.843333,3,4,3,4,3,11.27,4.0,809.98,22.537593,49.574949,178.3440674122349,244.5653167062043,Good
8,28,34847.84,3037.986667,2,4,6,1,3,5.42,2.0,605.03,24.464031,18.816215,104.291825168246,470.69062692529184,Standard
9,28,34847.84,3037.986667,2,4,6,1,7,7.42,2.0,605.03,38.550848,18.816215,40.39123782853101,484.5912142650067,Good
10,28,34847.84,3037.986667,2,1385,6,1,3,5.42,2.0,605.03,33.224951,18.816215,58.51597569589465,466.46647639764313,Standard

In [ ]:
#Reemplazar la columna 15 por valores numericos Good 3 Standard 2 and Bad 1
df_cleaned['Credit_Score'] = df_cleaned['Credit_Score'].replace({'Good': 3, 'Standard': 2, 'Poor': 1})

In [ ]:
df = df_cleaned.apply(pd.to_numeric, errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53049 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       53049 non-null  int64
 1   Annual_Income             53049 non-null  float64
 2   Monthly_Inhand_Salary     53049 non-null  float64
 3   Num_Bank_Accounts         53049 non-null  int64
 4   Num_Credit_Card           53049 non-null  int64
 5   Interest_Rate             53049 non-null  int64
 6   Num_of_Loan               53049 non-null  int64
 7   Delay_from_due_date       53049 non-null  int64
 8   Changed_Credit_Limit      51947 non-null  float64
 9   Num_Credit_Inquiries      53049 non-null  float64
 10  Outstanding_Debt          53049 non-null  float64
 11  Credit_Utilization_Ratio  53049 non-null  float64
 12  Total_EMI_per_month       53049 non-null  float64
 13  Amount_invested_monthly   53049 non-null  float64
 14  Monthly_Balance           53049 non-null  float64
 15  Credit_Score              53049 non-null  int64
dtypes: float64(9), int64(7)
memory usage: 6.9 MB

In [ ]:
data=df.to_numpy()

In [ ]:
data

array([[2.30000000e+01, 1.91141200e+04, 1.82484333e+03, ...,
        8.04152954e+01, 3.12494089e+02, 3.00000000e+00],
       [2.30000000e+01, 1.91141200e+04, 1.82484333e+03, ...,
        1.78344067e+02, 2.44565317e+02, 3.00000000e+00],
       [2.80000000e+01, 3.48478400e+04, 3.03798667e+03, ...,
        1.04291825e+02, 4.70690627e+02, 2.00000000e+00],
       ...,
       [2.50000000e+01, 3.96289900e+04, 3.35941583e+03, ...,
        5.41859503e+01, 4.96651610e+02, 1.00000000e+00],
       [2.50000000e+01, 3.96289900e+04, 3.35941583e+03, ...,
        2.40284774e+01, 5.16809083e+02, 1.00000000e+00],
       [2.50000000e+01, 3.96289900e+04, 3.35941583e+03, ...,
        1.67163865e+02, 3.93673696e+02, 1.00000000e+00]])

In [ ]:
# La entrada es de 28 elementos contando con x0
input_layer_size  = 9
# Las clases son 3
num_labels = 3
#datos
#data = np.loadtxt('/content/drive/MyDrive/Colab Notebooks/machine learning/datasets/train.csv', delimiter=',')
#data = np.genfromtxt('/content/drive/MyDrive/Colab Notebooks/machine learning/datasets/train.csv', delimiter=',')

# print(data['y'])
# print(data['y'].ravel())
# print(data['X'])
#Datos de entrnamiento
X = data[:40000, :8]
y = data[:40000, 15]
# X, y = data['X'], data['y'].ravel()
# print(X)
# print(y)
# establecer el dígito cero en 0, en lugar del 10 asignado a este conjunto de datos
# Esto se hace debido a que el conjunto de datos se utilizó en MATLAB donde no hay índice 0
#y[y == 3] = 0
# print(y)

m = y.size

In [ ]:
X.shape[1]

8

In [ ]:
#print(X_train[0,:])
#print(y_train)

In [ ]:
#X=X_train
#y=y_train

In [ ]:
def  featureNormalize(X):
    X_norm = X.copy()
    mu = np.zeros(X.shape[1])
    sigma = np.zeros(X.shape[1])

    mu = np.mean(X, axis = 0)
    sigma = np.std(X, axis = 0)
    X_norm = (X - mu) / sigma

    return X_norm, mu, sigma

In [ ]:
# llama featureNormalize con los datos cargados
X_norm, mu, sigma = featureNormalize(X)

In [ ]:
print(X_norm[0,:])
print(y)

[-0.12906243 -0.10807039 -0.70639132 -0.1189524  -0.14577664 -0.15300084
  0.01025343 -1.24834389]
[3. 3. 2. ... 2. 2. 2.]

In [ ]:
# Configurar la matriz adecuadamente, y agregar una columna de unos que corresponde al termino de intercepción.
m, n = X.shape
# Agraga el termino de intercepción a A
# X = np.concatenate([np.ones((m, 1)), X_norm], axis=1)
X = X_norm
# X = np.concatenate([np.ones((m, 1)), X], axis=1)

In [ ]:
def sigmoid(z):
    """
    Calcula la sigmoide de z.
    """
    return 1.0 / (1.0 + np.exp(-z))

In [ ]:
def calcularSigmoide(z):
    # Calcula la sigmoide de z.

    return 1.0 / (1.0 + np.exp(-z))

In [ ]:
def calcularCosto(theta, X, y, lambda_):
    # Inicializa algunos valores utiles
    m = y.size

    # convierte las etiquetas a valores enteros si son boleanos
    if y.dtype == bool:
        y = y.astype(int)

    J = 0
    grad = np.zeros(theta.shape)

    h = calcularSigmoide(X.dot(theta.T))

    temp = theta
    temp[0] = 0

    J = (1 / m) * np.sum(-y.dot(np.log(h)) - (1 - y).dot(np.log(1 - h))) + (lambda_ / (2 * m)) * np.sum(np.square(temp))

    grad = (1 / m) * (h - y).dot(X)
    # Se aplica regularizacion en la siguiente linea
    grad = grad + (lambda_ / m) * temp

    return J, grad

In [ ]:
def oneVsAll(X, y, num_labels, lambda_):

    m, n = X.shape

    all_theta = np.zeros((num_labels, n + 1))

    # Agrega unos a la matriz X
    X = np.concatenate([np.ones((m, 1)), X], axis=1)


    for c in np.arange(num_labels):
        initial_theta = np.zeros(n + 1)
        options = {'maxiter': 50}
        res = optimize.minimize(calcularCosto,
                                initial_theta,
                                (X, (y == (c + 1)), lambda_),
                                jac=True,
                                method='BFGS',
                                options=options)

        all_theta[c] = res.x

    return all_theta

In [ ]:
lambda_ = 0.1
all_theta = oneVsAll(X, y, num_labels, lambda_)
print(all_theta.shape)

(3, 9)

In [ ]:
print(all_theta)

[[-8.89976181e-01 -2.91344229e-03 -1.82662353e-02 -2.33905953e-01
   5.86082850e-03  2.17199075e-02  1.37018272e-02 -1.94624260e-03
   7.53654836e-01]
 [ 1.04672188e-01  9.61809281e-03  9.13236499e-03 -1.80812560e-02
   6.20389677e-03 -1.08896876e-02 -1.61545464e-02 -1.83594073e-03
  -2.22959216e-01]
 [-2.22003423e+00 -1.43869183e-02  9.97276562e-03  2.49711118e-01
  -1.98966941e-02 -1.20582230e-02  9.36145089e-03  1.06183603e-02
  -1.41587208e+00]]

In [ ]:
def predictOneVsAll(all_theta, X):

    m = X.shape[0];
    num_labels = all_theta.shape[0]

    p = np.zeros(m)

    # Add ones to the X data matrix
    X = np.concatenate([np.ones((m, 1)), X], axis=1)
    p = np.argmax(sigmoid(X.dot(all_theta.T)), axis = 1)

    return p

In [ ]:
print(X.shape)
pred = predictOneVsAll(all_theta, X)
print('Precision del conjuto de entrenamiento: {:.2f}%'.format(np.mean(pred == y_train) * 100))
XPrueba = X[10:150, :].copy()
print(XPrueba.shape)
#print(np.ones((1)))
#print(XPrueba)
#p = np.zeros(1)
XPrueba = np.concatenate([np.ones((140, 1)), XPrueba], axis=1)
print(XPrueba.shape)
p = np.argmax(sigmoid(XPrueba.dot(all_theta.T)), axis = 1)
print(p)

# displayData(X[1002:1003, :])
print(y[10:150])

(40000, 8)
Precision del conjuto de entrenamiento: 20.57%
(140, 8)
(140, 9)
[1 1 1 1 1 1 1 1 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0
 1 1 1 0 0 1 1 0 0 0 0 1 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 1 1 1 1 1 1 1 1]
[3. 2. 2. 2. 2. 2. 2. 2. 2. 3. 3. 3. 3. 3. 3. 1. 1. 1. 3. 2. 3. 2. 3. 3.
 3. 3. 3. 2. 2. 2. 2. 2. 2. 3. 2. 3. 3. 2. 2. 2. 2. 2. 2. 2. 1. 1. 1. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 1. 2. 1. 2. 1. 1. 2. 1.
 1. 1. 2. 1. 1. 1. 2. 2. 2. 1. 1. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 1.
 1. 1. 1. 3. 3. 2. 2. 1. 2. 1. 1. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 3.
 3. 2. 2. 3. 3. 3. 2. 1. 1. 1. 2. 2. 2. 2. 2. 2. 1. 1. 1. 1.]